:root {
  --black: #252423;
  --white: #F6F4F2;
  --red: #F64E4D;
  --green: #18FF74;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.dummy {
  width: 100px;
  height: 100px;
  background-color: currentColor;
}
