@font-face {
 font-family: "Roobert";
 font-weight: 400;
 font-style: normal;
 src: url("../fonts/Roobert-Regular.woff2") format("woff2");
}

@font-face {
 font-family: "Roobert";
 font-weight: 400;
 font-style: italic;
 src: url("../fonts/Roobert-Regular.woff2") format("woff2");
}

@font-face {
 font-family: "Roobert";
 font-weight: 600;
 font-style: normal;
 src: url("../fonts/Roobert-SemiBold.woff2") format("woff2");
}

@font-face {
 font-family: "Roobert";
 font-weight: 600;
 font-style: italic;
 src: url("../fonts/Roobert-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/InputMono-Regular.woff2") format("woff2"),
      url("../fonts/InputMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/InputMono-Bold.woff2") format("woff2"),
      url("../fonts/InputMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/InputMono-BoldItalic.woff2") format("woff2"),
      url("../fonts/InputMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "InputMono";
  src: url("../fonts/InputMono-Italic.woff2") format("woff2"),
      url("../fonts/InputMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  background-color: #F6F4F2;
  color: #3E3E3E;
}

body {
  font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-feature-settings:"tnum" 1, "ss03" 1;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-weight: 600;
}

input {
  font-family: Roobert SemiBold, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
}

a, a:visited {
  color: inherit;
}

sup {
  vertical-align: super;
  font-size: .625em;
}

strong {
  font-weight: 600;
}

.color-white { color: #F6F4F2; } /* White */
.color-black { color: #3E3E3E; } /* Black */
.color-red, .color-targets { color: #F64E4D; } /* Red */
.color-orange, .color-properties { color: #F6984E; } /* Orange */
.color-yellow, .color-prop-params { color: #C8CB48; } /* Yellow */
.color-citrus, .color-anim-params { color: #EECD4F; } /* Citrus */
.color-green, .color-values { color: #98C762; } /* Green */
.color-darkgreen, .color-tl { color: #56BD9C; } /* Darkgreen */
.color-turquoise, .color-controls { color: #53D3D3; } /* Turquoise */
.color-skyblue, .color-states { color: #6AAAE1; } /* Skyblue */
.color-kingblue, .color-callbacks { color: #6A7BE0; } /* Kingblue */
.color-lavender, .color-svg { color: #86589E; } /* Lavender */
.color-purple, .color-easings { color: #D758A0; } /* Purple */
.color-pink, .color-helpers { color: #F07B8E; } /* Pink */