:root {
  font-size: 24px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  background-color: #F6F4F2;
  color: #373535;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: RoobertTRIAL-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

input {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
}

.color-white { color: #F6F4F2; } /* Black */
.color-black { color: #373535; } /* Black */
.color-red, .color-targets { color: #F64E4D; } /* Red */
.color-orange, .color-properties { color: #F6984E; } /* Orange */
.color-yellow, .color-prop-params { color: #C8CB48; } /* Yellow */
.color-citrus, .color-anim-params { color: #EECD4F; } /* Citrus */
.color-green, .color-values { color: #98C762; } /* Green */
.color-darkgreen, .color-tl { color: #56BD9C; } /* Darkgreen */
.color-turquoise, .color-controls { color: #53D3D3; } /* Turquoise */
.color-skyblue, .color-states { color: #6AAAE1; } /* Skyblue */
.color-kingblue, .color-callbacks { color: #6A7BE0; } /* Kingblue */
.color-lavender, .color-svg { color: #86589E; } /* Lavender */
.color-purple, .color-easings { color: #D758A0; } /* Purple */
.color-pink, .color-helpers { color: #F07B8E; } /* Pink */