@font-face {
 font-family: "Roobert SemiBold";
 font-style: normal;
 src: url("../fonts/Roobert-SemiBold.woff2") format("woff2");
}

@font-face {
 font-family: "Roobert SemiBold";
 font-style: italic;
 src: url("../fonts/Roobert-SemiBoldItalic.woff2") format("woff2");
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  background-color: #F6F4F2;
  color: #373535;
}

body {
  font-family: Roobert SemiBold, Helvetica Neue, Helvetica, Arial, sans-serif;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 400;
  font-feature-settings:"tnum" 1, "salt" 1, "ss03" 1;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-family: Roobert SemiBold, Helvetica Neue, Helvetica, Arial, sans-serif;
}

input {
  font-family: Roobert SemiBold, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
}

a, a:visited {
  color: inherit;
}

.color-white { color: #F6F4F2; } /* White */
.color-black { color: #373535; } /* Black */
.color-red, .color-targets { color: #F64E4D; } /* Red */
.color-orange, .color-properties { color: #F6984E; } /* Orange */
.color-yellow, .color-prop-params { color: #C8CB48; } /* Yellow */
.color-citrus, .color-anim-params { color: #EECD4F; } /* Citrus */
.color-green, .color-values { color: #98C762; } /* Green */
.color-darkgreen, .color-tl { color: #56BD9C; } /* Darkgreen */
.color-turquoise, .color-controls { color: #53D3D3; } /* Turquoise */
.color-skyblue, .color-states { color: #6AAAE1; } /* Skyblue */
.color-kingblue, .color-callbacks { color: #6A7BE0; } /* Kingblue */
.color-lavender, .color-svg { color: #86589E; } /* Lavender */
.color-purple, .color-easings { color: #D758A0; } /* Purple */
.color-pink, .color-helpers { color: #F07B8E; } /* Pink */