html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}

* {
  box-sizing: border-box;
}

html,
body,
header {
  background-color: #131415; /* Black */
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: RoobertTRIAL-Light;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.color-01, .color-targets { color: #FF1461; } /* Red */
.color-02, .color-properties { color: #FF7C72; } /* Orange */
.color-03, .color-prop-params { color: #FBF38C; } /* Yellow */
.color-04, .color-anim-params { color: #A6FF8F; } /* Citrus */
.color-05, .color-values { color: #18FF92; } /* Green */
.color-06, .color-tl { color: #1CE2B2; } /* Darkgreen */
.color-07, .color-controls { color: #5EF3FB; } /* Turquoise */
.color-08, .color-states { color: #61C3FF; } /* Lightblue */
.color-09, .color-callbacks { color: #5A87FF; } /* Blue */
.color-10, .color-svg { color: #8453E3; } /* Purple */
.color-11, .color-easings { color: #C26EFF; } /* Lavender */
.color-12, .color-helpers { color: #FB89FB; } /* Pink */


.content {
  overflow: hidden;
  opacity: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
}

.ready .content {
  opacity: 1;
}

/* Headers */

.header {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 239px;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  width: 240px;
  height: 60px;
  color: white;
  text-decoration: none;
}

.logo svg {
  width: 100%;
  height: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgba(0,0,0,.35);
}

.logo, h2 {
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
}

.logo {
  opacity: .6;
}

.logo:hover {
  opacity: 1;
}

/* Panes */

.pane {
  position: relative;
  height: 100%;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding-top: 60px;
  border-right: 1px solid rgba(0,0,0,.35);
}

.sidebar-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navigation {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 10px 0 20px 20px;
}

.navigation ul {
  height: 30px;
  overflow-y: hidden;
  -webkit-transition:opacity .4s ease;
  transition: opacity .4s ease;
}

.navigation ul li {
  position: relative;
}

.navigation ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 2px;
  width: 1px;
  height: calc(100% - 8px);
  background-color: white;
}

.navigation ul li:first-child:before {
  display: none;
}

.navigation a {
  display: block;
  padding-left: 10px;
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.navigation ul li:first-child a {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation ul li a,
.navigation ul li:before {
  opacity: .4;
}

.navigation ul li a {
  transition: opacity .4s ease, color .4s ease;
}

.navigation ul.active a {
  opacity: .7;
}

.navigation ul li:hover a,
.navigation ul li:hover:before {
  transition: none;
  opacity: 1;
}

.navigation ul li.active a,
.navigation ul li.active:before {
  opacity: 1;
  color: currentColor;
}

.navigation ul li.active:before {
  background-color: currentColor;
}

.navigation ul.active li:first-child a,
.navigation ul.active li:first-child a:hover {
  opacity: 1;
  color: currentColor;
}

/* Info pane */

.demo-info {
  flex-direction: column;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  /*border-left: 1px solid rgba(0,0,0,.35);*/
}

.info-output {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 0;
  width: 100%;
  height: calc(100% - 60px);
  padding: 20px;
}

.demo-info pre {
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
}

.demo-info code {
  font-family: "Input Mono Reg", "Space Mono", monospace;
  font-size: 14px;
  line-height: 22px;
  white-space: pre-wrap;
}

.demo-info p {
  margin-bottom: 20px;
}

.demo-info p,
.demo-info td {
  color: rgba(255,255,255,.7);
}

.demo-info i {
  font-style: italic;
}

.demo-info a {
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.demo-info a:hover {
  border-bottom: 1px solid currentColor;
}

.demo-info a[href^="http"]:visited {
  color: currentColor;
}

.demo-info p.bubble {
  display: inline-block;
  position: relative;
  padding: 8px 12px;
}

.demo-info p.bubble.warning {
  color: #FBF38C;
}

.demo-info p.bubble.info {
  color: #61C3FF;
}

.demo-info p.bubble:after {
  content: "";
  pointer-events: none;
  color: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: currentColor;
  border-radius: 3px;
  opacity: .05;
}

.demo-info code.hljs {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
}

.demo-info pre {
  margin-bottom: 20px;
}

.demo-info pre code {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
  background-color: rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 3px;
}

.demo-info p code {
  position: relative;
  padding: 0 2px;
  height: 24px;
  background-color: rgba(0,0,0,.2);
  box-shadow: inset 0 0 1px rgba(0,0,0,.4);
  border-radius: 3px;
}

.demo-info table {
  margin-bottom: 20px;
  border: 1px solid #2E2E33;
  border-spacing: 0;
  border-radius: 3px;
}

.demo-info thead {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 14px;
  color: rgba(255,255,255,.5);
}

.demo-info td {
  vertical-align: middle;
  padding: 8px 12px;
  border-left: 1px solid #2E2E33;
  border-top: 1px solid #2E2E33;
}

.demo-info thead td {
  border-top: none;
}

.demo-info td:first-child {
  border-left: none;
}

.code-preview {
  width: 100%;
  padding-top: 40px;
}

.code-preview h2 {
  margin-bottom: 20px;
}

/* Demos */

.demos {
  overflow-y: scroll;
  width: calc(50% - 240px);
  min-width: 330px;
}

.demos::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

.demos::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,.4);
}

.demos::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.2);
}

.demos::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,.4);
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.demos-title {
  opacity: 1;
}

.demo {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  padding-top: 35px;
  border-bottom: 1px solid rgba(0,0,0,.35);
  cursor: pointer;
}

.demo-description {
  display: none;
}

.demo.controls {
  padding-top: 50px;
}

.demo.active.controls {
  cursor: default;
}

.demo:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.demo.active:before {
  opacity: .05;
}

.demo-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 290px;
  height: 100%;
}

.demo-title {
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 23px 0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  opacity: .7;
}

.active .demo-title {
  color: currentColor;
  opacity: 1;
}

.line {
  width: 100%;
  padding: 1px 0px;
}

.line.align-center {
  display: flex;
  justify-content: center;
}

.controls {
  opacity: .4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.controls button {
  position: relative;
  display: block;
  margin: 0 0 0 -1px;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid currentColor;
  background-color: transparent;
  color: currentColor;
}

.controls button:focus {
  outline: none;
}

.active .controls {
  opacity: 1;
}

.active .controls button:after {
  content: '';
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.active .controls button:hover:after {
  opacity: .2;
}

.controls button.is-active:after,
.controls button.is-active:hover:after {
  opacity: .4;
}

.controls button:first-child {
  margin-left: 0;
}

.controls input {
  margin-left: 10px;
}

.text-output {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: currentColor;
  text-align: center;
  background-color: transparent;
  border: 1px solid currentColor;
}

.log {
  width: 100%;
  height: 100%;
  background: transparent;
  color: currentColor;
  border: none;
  font-size: 16px;
  text-align: center;
}

.bottom.log {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logs {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.log:focus {
  outline: none;
}

input.progress {
  cursor: ew-resize;
}

input.progress[value] {
  position: relative;
  width: auto;
  height: 27px;
  -webkit-appearance: none;
  background-color: transparent;
  color: currentColor;
}

input.progress[value]:focus {
  outline: none;
}

input.progress[value]:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

input.progress[value]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: currentColor;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.square,
.circle {
  pointer-events: none;
  position: relative;
  width: 28px;
  height: 28px;
  margin: 1px;
  background-color: currentColor;
  font-size: 14px;
}

.circle {
  border-radius: 50%;
}

.square.outline,
.circle.outline {
  background-color: transparent;
  border: 1px solid currentColor;
}

.triangle {
  pointer-events: none;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14px 24px 14px;
  border-color: transparent transparent currentColor transparent;
}

.small {
  width: 18px;
  height: 18px;
}

.small.triangle {
  border-width: 0 10px 17px 10px;
}

.large {
  width: 48px;
  height: 48px;
}

.stretched {
  height: 2px;
}

.shadow {
  position: absolute;
  opacity: .2;
}

.label {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 28px;
  padding-left: 38px;
  transition: opacity .5s ease;
}

.demo.active .label {
  opacity: .2;
}

.small.label {
  height: 18px;
  padding-left: 28px;
}

.large.label {
  height: 48px;
  padding-left: 58px;
}

.motion-path {
  position: relative;
  width: 256px;
  margin: auto;
}

.follow-path {
  position: absolute;
  top: -9px;
  left: -9px;
}

.align-center {
  align-items: center;
}

.add-states-demo .el {
  border: 1px solid rgba(0,0,0,0);
}

#cssProperties .el {
  transform: translate3d(0,0,0);
}

/* Responsive */

.header {
  width: 100%;
}

.sidebar,
.code-examples {
  display: none;
}

.demos {
  top: 60px;
  width: 100%;
  min-width: auto;
  height: calc(100% - 60px);
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 600px) {
  .header {
    width: 239px;
  }
  .sidebar {
    display: inherit;
  }
  .demos {
    top: 0;
    width: calc(100% - 240px);
    height: 100%;
  }
}

@media (min-width: 1100px) {
  .code-examples {
    display: inherit;
  }
  .demos {
    width: calc(50% - 240px);
  }
}
