/* Typography */

body {
  line-height: 1.333333333;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.primary {
  color: #F64E4D;
}

a.arrow {
  position: relative;
  display: inline-block;
  color: #F64E4D;
  text-decoration: underline;
  transition: transform .25s ease;
}

a.arrow:after {
  pointer-events: none;
  content: "→";
  opacity: 0;
}

a.arrow:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transform: translateX(-1.5em);
  transition: transform .25s ease, opacity .25s ease;
}

a.arrow:hover {
  transform: translateX(1em);
}

a.arrow:hover:after {
  transform: translateX(-1em);
  opacity: 1;
}

/* Layout */

.section {
  display: flex;
  width: 100%;
}

.inverted-section {
  background-color: #252423;
  color: #F6F4F2;
}

.grid-container {
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.grid-reverse {
  flex-direction: column-reverse;
}

@media (min-width: 500px) {
  .grid-container {
    grid-column-gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 48px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* Top Header */

.top-section {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
}

.top-header {
  display: flex;
  flex-direction: row;
  grid-column: 1/13;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 48px;
}

.top-mini-logo {
  width: 74px;
  height: 12px;
  fill: none;
  stroke: currentColor;
  fill-rule: evenodd;
  stroke-linecap: square;
  stroke-width: 2;
}

.top-menu {
  display: flex;
  justify-content: flex-end;
}

.top-header a {
  opacity: .001;
}

.top-menu a {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
}

.top-menu a:not(:first-child) {
  margin-left: .5rem;
}

.top-menu a.primary {
  display: none;
}

.top-menu .version-number {
  margin-top: 2px;
  margin-left: 4px;
  padding: 1px 3px 2px;
  font-size: 10px;
  font-weight: 600;
  color: #F6F4F2;
  background-color: #F64E4D;
  border-radius: 8px;
}

@media (min-width: 500px) {
  .top-header {
    display: flex;
  }
  .top-menu a.primary {
    display: inline;
  }
}

/* Intro */

.description-section {
  margin-bottom: 80px;
}

@media (min-width: 500px) {
  .description-section {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .description-section {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.description-title {
  opacity: .001;
  display: none;
  grid-column: 1/13;
  font-size: 56px;
  line-height: .9;
  letter-spacing: -0.034em;
  font-weight: 600;
  margin-bottom: .5em;
}

.description-paragraph {
  opacity: .001;
  grid-column: 1/13;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.333em;
}

.description-paragraph:not(:last-child) {
  margin-bottom: 2em;
}

.description-menu {
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .description-title {
    display: block;
  }
  .description-menu {
    align-items: center;
  }
  .description-menu a:not(.primary) {
    display: none;
  }
}

@media (min-width: 800px) {
  .description-title,
  .description-paragraph {
    grid-column: 2/12;
  }
  .description-title {
    font-size: 72px;
  }
  .description-paragraph {
    font-size: 24px;
  }
}

.main-logo {
  position: relative;
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40%;
  margin-bottom: 40%;
}

@media (min-width: 800px) {
  .main-logo {
    grid-column: 2/12;
    margin-top: 28%;
    margin-bottom: 28%;
  }
}

.main-logo-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  padding-bottom: 80%;
  margin: -40% 0 0 -40%;
  border: 1px solid currentColor;
  border-radius: 50%;
}

.logo-animation-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 17.777777778%;
}

.logo-animation {
  pointer-events: none;
  overflow: visible;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 740px;
  height: 544px;
  margin: -272px 0 0 -370px;
  transform: scale(.633333);
}

.anime-logo {
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 128px;
}

.anime-logo-signs {
  overflow: visible;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 512px;
  margin-top: -352px;
}

.logo-letter {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 100%;
}

.bounced {
  transform-origin: 50% 100% 0px;
  transform: translateY(100px) scaleX(.55) scaleY(.8);
}

.logo-animation .bounce {
  overflow: visible;
  position: absolute;
  left: 0;
  bottom: 63px;
}

.logo-animation .dot {
  opacity: 0.001;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  margin: -11px 0 0 -11px;
  background-color: currentColor;
  transform: translate3d(0,0,0);
}

.logo-animation .logo-letter svg {
  overflow: visible;
  fill: none;
  fill-rule: evenodd;
}

.logo-animation .line {
  stroke: currentColor;
  stroke-width: 22px;
}

.logo-animation .fill {
  opacity: .001;
  stroke: currentColor;
  stroke-width: 22px;
}

.logo-text {
  opacity: .001;
  display: none;
  margin-top: .25em;
  padding-left: .1em;
  padding-right: .1em;
  font-weight: 400;
  font-size: 3.75vw;
  line-height: 1;
  letter-spacing: .1em;
  text-align: justify;
  word-break: keep-all;
}

.medium-screen-text,
.large-screen-text {
  display: none;
}

@media (min-width: 600px) {
  .logo-text {
    font-size: 2.25vw;
    display: block;
  }
  .medium-screen-text {
    display: inline;
  }
}

@media (min-width: 800px) {
  .logo-text {
    font-size: 1.5vw;
  }
  .large-screen-text {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .logo-text {
    font-size: 17px;
  }
}

.logo-text:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.dash {
  width: 100%;
  height: 1px;
  margin-top: 6px;
  background-color: currentColor;
}

/* Features */

.feature-section {
  overflow: hidden;
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (min-width: 800px) {
  .feature-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.vertical-grid .feature-description {
  grid-column: 1/13;
  margin-bottom: 32px;
}

.horizontal-grid .feature-description {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-title {
  margin-bottom: 32px;
  font-size: 48px;
  line-height: .9;
  letter-spacing: -.025em;
}

.feature-paragraph {
  font-size: 16px;
  margin-bottom: 24px;
}

@media (min-width: 800px) {
  .vertical-grid .feature-description {
    grid-column: 3/11;
  }
  .horizontal-grid .feature-description {
    grid-column: 8/13;
  }
  .feature-title {
    margin-bottom: 32px;
    font-size: 64px;
  }
  .feature-paragraph {
    font-size: 18px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .horizontal-grid .feature-description {
    grid-column: 9/13;
  }
}

.feature-animation {
  grid-column: 1/13;
  position: relative;
  width: 100%;
  margin: auto;
  padding-bottom: 75%;
}

.square-animation {
  padding-bottom: 100%;
}

@media (min-width: 800px) {
  .feature-animation {
    padding-bottom: 50%;
  }
  .horizontal-animation {
    padding-bottom: 75%;
  }
  .square-animation {
    padding-bottom: 100%;
  }
  .vertical-grid .feature-animation {
    grid-column: 2/12;
  }
  .horizontal-grid .feature-animation {
    grid-column: 1/8;
  }
  .vertical-grid .square-animation {
    grid-column: 3/11;
  }
}

.feature-icons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.feature-icon img {
  width: 48px;
  height: 48px;
}

.feature-caption {
  font-family: "InputMono", "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 12px;
}

.vertical-icons .feature-icon {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: -6px;
}

.horizontal-icons .feature-icon:not(:first-child) {
  margin-left: 16px;
}

.horizontal-icons figcaption {
  text-align: center;
}

/** Sphere **/

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  opacity: .001;
  fill: rgba(37,36,35,1);
  stroke: #FF4847;
  stroke-width: 1px;
  backface-visibility: hidden;
}

/** Easings **/

.easing-visualizer {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  height: 550px;
  margin: -275px 0 0 -550px;
}

.easing-visualizer .wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.easing-visualizer .bar {
  width: 2px;
  height: 5px;
  margin: 0 4px;
  background-color: currentColor;
  transform-origin: 50% 50%;
}

.easing-visualizer .dot {
  position: relative;
  width: 11px;
  height: 11px;
  margin: 0;
  background-color: currentColor;
  border-radius: 50%;
}

/** Staggering **/

.stagger-visualizer {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 540px;
  margin: -270px 0 0 -360px;
}

.stagger-visualizer .dot {
  position: relative;
  width: 4px;
  height: 4px;
  margin: 13px;
  background-color: currentColor;
  border-radius: 50%;
}

.stagger-visualizer .cursor {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: -5px;
  width: 28px;
  height: 28px;
  margin: 6px;
  background-color: currentColor;
  border-radius: 50%;
}

/** Time control **/

.section-feature-control {
  overflow-x: hidden;
  text-align: center;
}

.section-feature-control .section-paragraph {
  margin-bottom: 3rem;
}

.section-feature-control .feature-animation {
  height: 342px;
  padding: 0;
}

.time-control {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 814px;
  height: 342px;
  margin-left: -407px;
  margin-top: -171px;
  font-size: 18px;
}

.time-control .ruller {
  position: absolute;
  width: 814px;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 1px;
}

.time-control .line {
  width: 1px;
  height: 12px;
  background-color: currentColor;
}

.time-control .line:nth-child(9n+2) {
  height: 24px;
}

.time-control .line:not(:last-child) {
  margin-right: 4px;
}

.time-cursor {
  position: absolute;
  z-index: 1;
  top: -29px;
  left: -22px;
  width: 48px;
  height: 48px;
  background-color: currentColor;
  border-radius: 50%;
}

.time-cursor input {
  position: relative;
  z-index: 1;
  width: 48px;
  height: 48px;
  color: #FFF;
  font-weight: 600;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
}

.time-cursor:before {
  content: "";
  position: absolute;
  top: 0;
  left: 23px;
  display: block;
  width: 1px;
  height: 292px;
  background-color: #F64E4D;
}

.timeline {
  position: relative;
  z-index: 1;
  overflow: visible;
  display: flex;
  justify-content: center;
  height: 8px;
}

.timeline-caption {
  justify-content: center;
}

.timeline-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 72px;
}

.timeline-icon .animation-band {
  width: 32px;
  height: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.animation {
  position: relative;
  overflow: visible;
  display: flex;
}

.animation-band {
  position: relative;
  height: 8px;
  margin: 0 1px;
  border-radius: 4px;
}

.animation-delay {
  background-color: currentColor;
  width: 47px;
}
.animation-change {
  background-color: #F64E4D;
  width: 155px;
}
.animation-end-delay {
  border: 2px solid currentColor;
  width: 47px;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1px;
  height: 48px;
  margin: 0 2px;
}

.info + .info { margin-left: -3px; }

.info-large { height: 96px; }

.info-top {
  bottom: 0;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-end;
}

.info-bottom {
  top: 0;
  justify-content: flex-end;
}

.info-bar {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: currentColor;
  transform-origin: 50% 100%;
}

.info-top .info-bar { bottom: 0; }
.info-bottom .info-bar { top: 0; transform-origin: 50% 0%; }
.info-left .info-bar { left: 0; }
.info-right .info-bar { right: 0; }

.info .feature-caption {
  opacity: .001;
  white-space: nowrap;
  height: 18px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 18px;
}

.info-top .feature-caption {
  margin: -4px 0 0;
}

.info-bottom .feature-caption {
  margin: 0 0 -4px 0;
}

/** Layered Animation **/

.layered-animations {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: 550px;
  margin: -275px 0 0 -550px;
}

.layered-animations .shape {
  position: absolute;
  top: 50%;
  overflow: visible;
  width: 280px;
  height: 280px;
  margin-top: -140px;
  stroke: currentColor;
  stroke-width: .75px;
  fill: transparent;
}

.layered-animations .small.shape {
  width: 56px;
  height: 56px;
  margin-top: -28px;
  fill: currentColor;
}

.layered-animations .x-small.shape {
  width: 32px;
  height: 32px;
  margin-top: -16px;
  stroke: currentColor;
  fill: currentColor;
}