/* Typography */

/*.logo-animation-wrapper,
.anime-logo,
.col,
.full-col {
  background-color: rgba(255,0,0,.5);
  box-shadow: 0 0 0 1px rgba(255,0,0,1);
}*/

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: -2px;
  background-color: currentColor;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform .25s cubic-bezier(0.655, 0.405, 0.030, 0.945);
}

a:hover:after,
a:focus:after {
  transform-origin: 0 0;
  transform: scaleX(1);
  transition: transform .125s cubic-bezier(0.655, 0.405, 0.030, 0.945);
}

a.primary,
.primary {
  color: #F64E4D;
}

.section-title {
  font-size: 3rem;
  line-height: 2.5rem;
  letter-spacing: 0;
  margin-bottom: 1.5rem;
}

/* Layout */

:root {
  font-size: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 6rem;
}

.section-content,
.col,
.full-col {
  padding: 0 1rem;
}

.section-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1056px;
}

.section-rtl {
  flex-direction: row-reverse;
}

.col {
  width: 100%;
}

@media (min-width: 800px) {
  .col {
    width: 50%;
  }
}

.full-col {
  width: 100%;
}

/* Intro */

.intro-section {
  margin-top: 5rem;
}

.main-menu {
  position: relative;
}

.anime-js-description {
  text-align: justify;
  padding-bottom: 2rem;
}

.description-section .section-content {
  flex-direction: column;
  align-items: flex-start;
}

.separator {
  opacity: .001;
  width: 3rem;
  height: 2px;
  margin-top: 3rem;
  margin-left: 1rem;
  background-color: currentColor;
  transform-origin: 0 50%;
}

/* Logo animation */

.main-menu a,
.description-section,
.feature-section {
  opacity: .001;
}

.main-logo {
  display: flex;
  flex-direction: column;
}

.logo-animation-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 17.777777778%;
  transform: translateZ(0);
}

.logo-animation {
  overflow: visible;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 740px;
  height: 544px;
  margin: -272px 0 0 -370px;
  transform: scale(.633333);
}

.anime-logo {
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 128px;
}

.anime-logo-signs {
  overflow: visible;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 512px;
  margin-top: -352px;
}

.logo-letter {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 100%;
}

.bounced {
  transform-origin: 50% 100% 0px;
  transform: translateY(100px) scaleX(.55) scaleY(.8);
}

.logo-animation .bounce {
  overflow: visible;
  position: absolute;
  left: 0;
  bottom: 62px;
}

.logo-animation .dot {
  opacity: 0.001;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
  background-color: currentColor;
  transform: translate3d(0,0,0);
}

.logo-animation .logo-letter svg {
  overflow: visible;
  fill: none;
  fill-rule: evenodd;
}

.logo-animation .line {
  stroke: currentColor;
  stroke-width: 24px;
}

.logo-animation .fill {
  opacity: .001;
  stroke: currentColor;
  stroke-width: 24px;
}

.logo-text {
  display: flex;
  text-align: justify;
  align-items: center;
  margin-top: .25rem;
}

.logo-text span {
  opacity: .001;
  display: block;
}

.dash {
  width: 100%;
  height: 2px;
  margin-top: 7px;
  background-color: currentColor;
}

/* Features */

.feature-animation {
  position: relative;
  padding-bottom: 100%;
}

/** Easings **/

.easing-visualizer {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 16rem;
  height: 16rem;
  margin: -8rem 0 0 -8rem;
}

.easing-visualizer .bar {
  width: 2px;
  height: 4px;
  background-color: currentColor;
  transform-origin: 50% 50%;
}

.easing-visualizer .bar:not(:last-child) {
  margin-right: 4px;
}

.easing-visualizer .dot {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: -3px;
  background-color: currentColor;
  border-radius: 50%;
}

/** Staggering **/

.stagger-visualizer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 15em;
  height: 15em;
  margin: -6.5em 0 0 -6.5em;
}

.stagger-visualizer .dot {
  position: relative;
  width: 4px;
  height: 4px;
  margin: calc(.5em - 2px);
  background-color: currentColor;
  border-radius: 50%;
}

.stagger-visualizer .cursor {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin: calc(.5em - 12px);
  background-color: currentColor;
  border-radius: 50%;
}