html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #191923; /* Black */
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  color: #FFF;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  /* Anime is a lightweig: */
  font-family: RoobertTRIAL-Regular;
  font-size: 20px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}

svg {
  overflow: visible;
}

a {
  text-decoration: none;
  color: currentColor;
}

.color-targets { color: #FF1461; } /* Red */
.color-properties { color: #FF7C72; } /* Orange */
.color-prop-params { color: #FBF38C; } /* Yellow */
.color-anim-params { color: #A6FF8F; } /* Citrus */
.color-values { color: #18FF92; } /* Green */
.color-tl { color: #1CE2B2; } /* Darkgreen */
.color-controls { color: #5EF3FB; } /* Turquoise */
.color-states { color: #61C3FF; } /* Lightblue */
.color-callbacks { color: #5A87FF; } /* Blue */
.color-svg { color: #8453E3; } /* Purple */
.color-easings { color: #C26EFF; } /* Lavender */
.color-helpers { color: #FB89FB; } /* Pink */

/* Logo animation */

.logo-animation {
  flex-shrink: 0;
  position: relative;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 740px;
  height: 480px;
}

.logo-animation.is-visible {
  visibility: visible;
}

.anime-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 720px;
}

.anime-logo-signs {
  display: flex;
  position: relative;
  width: 100%;
  height: 128px;
  margin-top: 48px;
  margin-bottom: 12px;
}

.anime-logo h2 {
  opacity: 0;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 16.4px;
  white-space: nowrap;
  text-align: center;
}

.logo-letter {
  overflow: visible;
}

/* blur effects only on Chrome */

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .sphere.blurred { filter: url(#sphereBlur); }
  .anime-logo-signs.blurred .logo-letter { filter: url(#blur); }
}

.bounce {
  position: absolute;
  left: 0;
  bottom: 64px;
}

.filters {
  display: none;
}

.line {
  stroke-width: 2;
  /*stroke: #FFF;*/
}

.letter-a .line:nth-child(1) { stroke: #1CE2B2; }
.letter-a .line:nth-child(2) { stroke: #5EF3FB; }
.letter-a .line:nth-child(3) { stroke: #B08CFF; }

.letter-n .line:nth-child(1) { stroke: #5A87FF; }
.letter-n .line:nth-child(2) { stroke: #FBF38C; }
.letter-n .line:nth-child(3) { stroke: #FF7C72; }

.letter-i .line:nth-child(1) { stroke: #FB89FB; }
.letter-i .line:nth-child(2) { stroke: #FF1461; }
.letter-i .line:nth-child(3) { stroke: #FF48AB; }

.letter-m .line:nth-child(1) { stroke: #FF7C72; }
.letter-m .line:nth-child(2) { stroke: #B08CFF; }
.letter-m .line:nth-child(3) { stroke: #1CE2B2; }

.letter-e .line:nth-child(1) { stroke: #18FF92; }
.letter-e .line:nth-child(2) { stroke: #5EF3FB; }
.letter-e .line:nth-child(3) { stroke: #5A87FF; }

.sphere {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
}

/* Logo nav */

.logo-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-bottom: 32px;
}

.logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-bottom: 32px;
}

.logo-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 800px) {
  .logo-links {
    flex-direction: row;
  }
}

.logo-links a {
  flex: 1;
  display: block;
  position: relative;
  height: 44px;
  margin: 0 8px;
  padding: 0 8px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 41px;
  letter-spacing: .05em;
  border: 1px solid #FFF;
  color: #FFF;
  transition: color .2s ease-in-out;
}

.logo-links a span {
  z-index: 1;
  position: relative;
}

.logo-links a:hover {
  color: #000;
}

.logo-links a:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}

.logo-links a:hover:before {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.credits {
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: .05em;
  color: #8C8C91;
}

.credits a {
  transition: color .5s ease;
}

.credits a:hover {
  color: #FFF;
  transition: none;
}