@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RoobertTRIAL-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roobert";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/RoobertTRIAL-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/RoobertTRIAL-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Roobert";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/RoobertTRIAL-SemiBoldItalic.woff") format("woff");
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #F8F8F4;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  /*overflow: hidden;*/
}

svg {
  overflow: visible;
}

a {
  text-decoration: none;
  color: currentColor;
}

.color-targets { color: #FF1461; } /* Red */
.color-properties { color: #FF7C72; } /* Orange */
.color-prop-params { color: #FBF38C; } /* Yellow */
.color-anim-params { color: #A6FF8F; } /* Citrus */
.color-values { color: #18FF92; } /* Green */
.color-tl { color: #1CE2B2; } /* Darkgreen */
.color-controls { color: #5EF3FB; } /* Turquoise */
.color-states { color: #61C3FF; } /* Lightblue */
.color-callbacks { color: #5A87FF; } /* Blue */
.color-svg { color: #8453E3; } /* Purple */
.color-easings { color: #C26EFF; } /* Lavender */
.color-helpers { color: #FB89FB; } /* Pink */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Logo animation */

.intro-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.anime-logo-animation {
  position: relative;
  visibility: hidden;
  width: 100%;
  padding-bottom: 25%;
}

@media (min-width: 720px) {
  .anime-logo-animation {
    width: 720px;
    height: 220px;
    padding-bottom: 0;
  }
}

.anime-logo-animation.is-visible {
  visibility: visible;
}

.animation-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 720px;
  height: 544px;
  margin: -272px 0 0 -360px;
}

.anime-logo-animation .anime-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.anime-logo-animation .anime-logo-signs {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 512px;
  margin-top: -352px;
  margin-bottom: 8px;
}

.anime-logo-subtitle {
  opacity: 0;
  position: relative;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 17.2px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  text-align: center;
}

.anime-logo-animation .logo-letter {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 100%;
  padding-bottom: 24px;
  margin-bottom: -20px;
  transform: translate3d(0,0,0);
}

.anime-logo-animation .bounce {
  overflow: visible;
  position: absolute;
  left: 0;
  bottom: 67px;
}

.anime-logo-animation .dot {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin: -15px 0 0 -12px;
  background-color: #000;
  transform: translate3d(0,0,0);
}

.anime-logo-animation .logo-letter svg {
  width: 100%;
  fill: none;
  fill-rule: evenodd;
}

.anime-logo-animation .line {
  stroke: #000;
  stroke-width: 24px;
}

.anime-logo-animation .fill {
  stroke: #000;
  stroke-width: 24px;
}

.animation-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Buttons and links */

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 13.75rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .125rem;
  background: #FBFBF6;
  border: 1px solid #D6D6D0;
  box-shadow: 0 1px 3px 0 rgba(56,56,53,.1);
  border-radius: 3px;
}