@font-face {
  font-family: "Roobert Regular";
  font-style: normal;
  src: url("../fonts/RoobertTRIAL-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roobert Regular Italic";
  font-style: normal;
  src: url("../fonts/RoobertTRIAL-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Roobert SemiBold";
  font-style: normal;
  src: url("../fonts/RoobertTRIAL-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Roobert SemiBold Italic";
  font-style: normal;
  src: url("../fonts/RoobertTRIAL-SemiBoldItalic.woff") format("woff");
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #F8F8F4;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #000;
  font-family: Roobert Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  /*overflow: hidden;*/
}

svg {
  overflow: visible;
}

a {
  text-decoration: none;
  color: currentColor;
}

.large-title {
  font-family: Roobert SemiBold, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 3rem;
  font-size: 3.75rem;
  text-align: center;
}

.small-title {
  font-family: Roobert SemiBold, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  text-align: center;
}

.color-targets { color: #FF1461; } /* Red */
.color-properties { color: #FF7C72; } /* Orange */
.color-prop-params { color: #FBF38C; } /* Yellow */
.color-anim-params { color: #A6FF8F; } /* Citrus */
.color-values { color: #18FF92; } /* Green */
.color-tl { color: #1CE2B2; } /* Darkgreen */
.color-controls { color: #5EF3FB; } /* Turquoise */
.color-states { color: #61C3FF; } /* Lightblue */
.color-callbacks { color: #5A87FF; } /* Blue */
.color-svg { color: #8453E3; } /* Purple */
.color-easings { color: #C26EFF; } /* Lavender */
.color-helpers { color: #FB89FB; } /* Pink */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

/* Mini logo */

.mini-logo {
  stroke: #000;
  stroke-width: 2px;
}

/* Header */

.site-header {
  opacity: 1;
  position: relative;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 4rem;
}

.site-header-content {
  justify-content: space-between;
  height: 100%;
  background-color: #F8F8F4;
  border-bottom: 1px solid #D6D6D0;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(50% - 100px);
}

.header-nav:last-child {
  justify-content: flex-end;
}

.header-nav a {
  font-size: 1rem;
  font-family: Roobert SemiBold, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header-nav:first-child a {
  margin-right: 1rem;
}

.header-nav:last-child a {
  margin-left: 1rem;
}

.mini-logo-link {
  display: block;
  position: relative;
  width: 88px;
  height: 14px;
}

.mini-logo-link svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Logo animation */

.intro-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.logo-animation {
  overflow: visible;
  position: relative;
  display: flex;
  flex-shrink: 0;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 740px;
  height: 544px;
}

.logo-animation.is-visible {
  visibility: visible;
}

.anime-logo {
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 720px;
}

.anime-logo-signs {
  overflow: visible;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 512px;
  margin-top: -352px;
  margin-bottom: 12px;
}

.anime-logo h2 {
  opacity: 0;
  position: relative;
  width: 100%;
  font-family: Roobert SemiBold, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 16px;
  white-space: nowrap;
  text-align: center;
}

.logo-letter {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 100%;
  padding-bottom: 24px;
  margin-bottom: -20px;
  transform: translate3d(0,0,0);
}

.bounce {
  overflow: visible;
  position: absolute;
  left: 0;
  bottom: 64px;
}

.dot {
  opacity: 0.001;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin: -15px 0 0 -12px;
  background-color: #000;
  transform: translate3d(0,0,0);
}

.logo-letter svg {
  fill: none;
  fill-rule: evenodd;
}

.line {
  stroke: #000;
  stroke-width: 24px;
}

.fill {
  stroke: #000;
  stroke-width: 24px;
}

/* Sphere */

.sphere {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: visible;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
  transform: translate3d(0,0,0);
}

.sphere path {
  opacity: .001;
  fill: rgba(248,248,244,.9);
  stroke: #000;
  stroke-width: 2px;
  backface-visibility: hidden;
}